<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="03dbf29d69d243bfac8565700769ec02" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_03dbf29d69d243bfac8565700769ec02 = echarts.init(
            document.getElementById('03dbf29d69d243bfac8565700769ec02'), 'light', {renderer: 'canvas'});
        var option_03dbf29d69d243bfac8565700769ec02 = {
    "backgroundColor": "#717f8f",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "pie",
            "name": "\u5360\u6bd4",
            "clockwise": true,
            "data": [
                {
                    "name": "\u6c5f\u897f\u83dc",
                    "value": 34
                },
                {
                    "name": "\u4e91\u5357\u83dc",
                    "value": 42
                },
                {
                    "name": "\u8d35\u5dde\u83dc",
                    "value": 42
                },
                {
                    "name": "\u5ddd\u83dc",
                    "value": 63
                },
                {
                    "name": "\u9c81\u83dc",
                    "value": 63
                },
                {
                    "name": "\u6e58\u83dc",
                    "value": 63
                },
                {
                    "name": "\u5fbd\u83dc",
                    "value": 63
                },
                {
                    "name": "\u4eac\u83dc",
                    "value": 63
                },
                {
                    "name": "\u4e1c\u5317\u83dc",
                    "value": 63
                },
                {
                    "name": "\u6e2f\u53f0\u83dc",
                    "value": 63
                },
                {
                    "name": "\u6dee\u626c\u83dc",
                    "value": 63
                },
                {
                    "name": "\u6e05\u771f\u83dc",
                    "value": 71
                },
                {
                    "name": "\u82cf\u83dc",
                    "value": 83
                },
                {
                    "name": "\u5c71\u897f\u83dc",
                    "value": 84
                },
                {
                    "name": "\u7ca4\u83dc",
                    "value": 84
                },
                {
                    "name": "\u95fd\u83dc",
                    "value": 84
                },
                {
                    "name": "\u6d59\u83dc",
                    "value": 84
                },
                {
                    "name": "\u6caa\u83dc",
                    "value": 84
                },
                {
                    "name": "\u8c6b\u83dc",
                    "value": 84
                },
                {
                    "name": "\u6e56\u5317\u83dc",
                    "value": 84
                },
                {
                    "name": "\u897f\u5317\u83dc",
                    "value": 84
                },
                {
                    "name": "\u4e91\u8d35\u83dc",
                    "value": 84
                },
                {
                    "name": "\u5e7f\u897f\u83dc",
                    "value": 84
                },
                {
                    "name": "\u5176\u5b83\u83dc",
                    "value": 84
                }
            ],
            "radius": "55%",
            "center": [
                "50%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": true,
                "position": "top",
                "color": "rgba(255, 255, 255, 0.3)",
                "margin": 8
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "formatter": "{a} <br/>{b}: {c} ({d}%)",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6c5f\u897f\u83dc",
                "\u4e91\u5357\u83dc",
                "\u8d35\u5dde\u83dc",
                "\u5ddd\u83dc",
                "\u9c81\u83dc",
                "\u6e58\u83dc",
                "\u5fbd\u83dc",
                "\u4eac\u83dc",
                "\u4e1c\u5317\u83dc",
                "\u6e2f\u53f0\u83dc",
                "\u6dee\u626c\u83dc",
                "\u6e05\u771f\u83dc",
                "\u82cf\u83dc",
                "\u5c71\u897f\u83dc",
                "\u7ca4\u83dc",
                "\u95fd\u83dc",
                "\u6d59\u83dc",
                "\u6caa\u83dc",
                "\u8c6b\u83dc",
                "\u6e56\u5317\u83dc",
                "\u897f\u5317\u83dc",
                "\u4e91\u8d35\u83dc",
                "\u5e7f\u897f\u83dc",
                "\u5176\u5b83\u83dc"
            ],
            "selected": {},
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u5404\u83dc\u7cfb\u5360\u6bd4\u60c5\u51b5",
            "left": "center",
            "top": "20",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "color": "#fff"
            }
        }
    ]
};
        chart_03dbf29d69d243bfac8565700769ec02.setOption(option_03dbf29d69d243bfac8565700769ec02);
    </script>
</body>
</html>
