<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>百科</title>
    <link rel="stylesheet" href="../static/css/cyclopedia.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/header.css">

    <!-- 以下是图标和字体 -->
    <!-- <link rel="stylesheet" href="../static/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">
</head>

<body>
    <!-- 头部代码 -->
    <header>
        <div class="header">
            <ul>
                <li><a href="/"><span>首页</span></a></li>
                <li><a href="/cyclopedia"><span>百科</span></a></li>
                <li><a href="/show"><span>展示</span></a></li>
                <li><a href="/about"><span>关于</span></a></li>
            </ul>
        </div>
    </header>
    <!-- 卡片代码 -->
    <div class="title">
        <h1>中华八大菜系</h1>
    </div>
    <div class="container">
        <div class="book">
            <div class="book__cover">
                <div class="header-image" style="background-image: url(../static/img/caixi/川菜.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="title-wrap">
                    <h1 class="article-title">川菜</h1>
                </div>
                <p class="book__cover-exerpt">
                    川菜是中国汉族传统的四大菜系之一、中国八大菜系之一、中华料理集大成者。
                    <br><br>
                    <span class="social">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-instagram"></i>
                    </span>
                </p>
            </div>
            <div class="book__content">
                <h1>川菜</h1>
                <p>川菜是中国汉族传统的四大菜系之一、中国八大菜系之一、中华料理集大成者。</p>
                <p>川菜分为三派：蓉派（上河帮）、渝派（下河帮）、盐帮派（小河帮）。</p>
                <p>“三派"已有定论的基础上，规范化表述为：</p>
                <p>上河帮川菜即以川西成都、乐山为中心地区的川菜；</p>
                <p>小河帮川菜即以川南自贡为中心的盐帮菜，同时包括宜宾菜、泸州菜和内江菜。</p>
                <p>下河帮川菜即以老川东地区达州菜、重庆菜、万州菜为代表的江湖菜。</p>
                <p>三者共同组成川菜三大主流地方风味流派分支菜系，代表川菜发展最高艺术水平。</p>
                <p>川菜以取材广泛，调味多变，菜式多样，口味清鲜，醇浓并重，以善用麻辣调味著称，并以别具一格的烹调方法和浓郁的地方风味闻名，融会了东南西北各方的特点，博采众家之长，善于吸收和创新。</p>
                <p>明末清初，辣椒传入，直至清末，风味特点逐渐定型，并在新中国成立后得到创新发展，川菜以家常菜为主，高端菜为辅，取材多为日常百味，也不乏山珍海鲜。其特点为：“善用三椒”、“一菜一格，百菜百味”；口味多变，包含鱼香、家常、麻辣、红油、蒜泥、姜汁、陈皮、芥末、纯甜、怪味等24种口味。代表菜品有鱼香肉丝、宫保鸡丁、水煮肉片、夫妻肺片、麻婆豆腐、回锅肉、泡椒凤爪、灯影牛肉、口水鸡、香辣虾、尖椒炒牛肉、重庆火锅、板栗烧鸡、辣子鸡等。
                </p>
                <p>2010年5月，四川省会成都市被联合国教科文组织授予“世界美食之都”的荣誉称号； 2017年9月28日，中国烹饪协会授予四川眉山市“川厨之乡”的称号，眉山菜成为川菜的代表。</p>
                <a href="https://baike.baidu.com/item/%E5%B7%9D%E8%8F%9C/26409?fr=aladdin">来自于百度百科</a>
            </div>
        </div>
        <div class="book">
            <div class="book__cover">
                <div class="header-image" style=" background-image: url(../static/img/caixi/鲁菜.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="title-wrap">
                    <h1 class="article-title">鲁菜</h1>
                </div>
                <p class="book__cover-exerpt">
                    鲁菜，是中国传统四大菜系（也是八大菜系）中的自发型菜系（相对于淮扬、川、粤等影响型菜系而言） ，是历史最悠久、技法最丰富、最见功力的菜系。 是黄河流域烹饪文化的代表。
                    <br><br>

                    <span class="social">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-instagram"></i>
                    </span>

                </p>

            </div>
            <div class="book__content">
                <h1>鲁菜</h1>
                <p>鲁菜，是中国传统四大菜系（也是八大菜系）中的自发型菜系（相对于淮扬、川、粤等影响型菜系而言） ，是历史最悠久、技法最丰富、最见功力的菜系。是黄河流域烹饪文化的代表。</p>
                <p>2500年前山东的儒家学派奠定了中国饮食注重精细、中和、健康的审美取向；北魏末年《齐民要术》（成书时间为约公元533—544年）总结的黄河中下游地区的“蒸、煮、烤、酿、煎、炒、熬、烹、炸、腊、盐、豉、醋、酱、酒、蜜、椒”奠定了中式烹调技法的框架；明清时期大量山东厨师和菜品进入宫廷，使鲁菜雍容华贵、中正大气、平和养生的风格特点进一步得到升华。
                </p>
                <p>经典菜品有一品豆腐、葱烧海参、三丝鱼翅、白扒四宝、糖醋黄河鲤鱼、九转大肠、油爆双脆、扒原壳鲍鱼、油焖大虾、醋椒鱼、糟熘鱼片、温炝鳜鱼片、芫爆鱿鱼卷、清汤银耳、木樨肉（木须肉）、胶东四大拌、糖醋里脊、红烧大虾、招远蒸丸、枣庄辣子鸡、清蒸加吉鱼、把子肉,葱椒鱼片、糖酱鸡块、油泼豆莛、诗礼银杏、奶汤蒲菜、乌鱼蛋汤、锅烧鸭、香酥鸡、黄鱼豆腐羹、拔丝山药、蜜汁梨球、砂锅散丹、布袋鸡、芙蓉鸡片、氽芙蓉黄管、阳关三叠、雨前虾仁、乌云托月、黄焖鸡块、锅塌黄鱼、奶汤鲫鱼、烧二冬、泰山三美汤、汆西施舌
                    、赛螃蟹、烩两鸡丝、象眼鸽蛋、云片猴头、油爆鱼芹、油炸全蝎、西瓜鸡等。</p>

                <a href="https://baike.baidu.com/item/%E9%B2%81%E8%8F%9C/458122?fr=aladdin">来自于百度百科</a>

            </div>
        </div>
        <div class="book">
            <div class="book__cover">
                <div class="header-image" style="background-image: url(../static/img/caixi/粤菜.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="title-wrap">
                    <h1 class="article-title">粤菜</h1>
                </div>
                <p class="book__cover-exerpt">
                    粤菜即广东菜，是中国四大菜系、八大菜系之一。狭义上的粤菜指广府菜（即广州府菜），广义上又包含潮州菜（潮汕菜）、东江菜（也称客家菜） 。
                    <br><br>

                    <span class="social">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-instagram"></i>
                    </span>

                </p>

            </div>
            <div class="book__content">
                <h1>粤菜</h1>
                <p>粤菜即广东菜，是中国四大菜系、八大菜系之一。狭义上的粤菜指广府菜（即广州府菜），广义上又包含潮州菜（潮汕菜）、东江菜（也称客家菜） 。粤菜源自中原，传承了孔子所倡导的“食不厌精，脍不厌细”的中原饮食风格
                    ，因此粤菜做法比较复杂、精细，如广府菜中的煲仔饭、烤乳猪源自周代“八珍”美食；烧鹅源自宋朝名菜烤鸭；点心从中原传到广东后演变出今天的虾饺、干蒸烧卖等广式点心。</p>
                <p>广府菜范围包括珠江三角洲和韶关、湛江等地，具有清、鲜、爽、嫩、滑等特色，“五滋”、“六味”俱佳。广府菜是粤菜的代表，自古有“食在广州，厨出凤城(顺德)”、“食在广州，味在西关”的美誉
                    ，顺德更被联合国教科文组织授予世界“美食之都”称号。</p>
                <p>潮州菜发源于广东潮汕地区，潮菜是粤菜的主干与粤菜的代表， 也有“食在广州、味在潮州”的说法。 在2004年荣获第五届全国烹饪技术比赛团体金奖，
                    2010年代表粤菜参加上海世博会，2012年代表中国菜参加韩国丽水世博会。潮州市2014年入选中国国际广播电台“全球网民推荐的最中国美食城市”。</p>
                <p>广东客家菜主要流行在梅州、惠州、河源、韶关、深圳等地，范围包括梅江、东江和北江流域。 客家菜可细分为“山系”、“水系”、“散客菜”。山系的“客家菜”，分布在梅州等地，而水系指的就是“东江菜”。
                    梅州是客家菜之乡，而客家菜以东江菜为代表， 菜品多用肉类，极少水产，主料突出，讲究香浓，下油重，味偏咸，以砂锅菜见长，乡土气息浓郁。</p>
                <a href="https://baike.baidu.com/item/%E7%B2%A4%E8%8F%9C/306654?fr=aladdin">来自于百度百科</a>

            </div>
        </div>
        <div class="book">
            <div class="book__cover">
                <div class="header-image" style="background-image: url(../static/img/caixi/苏菜.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="title-wrap">
                    <h1 class="article-title">苏菜</h1>
                </div>
                <p class="book__cover-exerpt">
                    江苏菜，中国传统八大菜系之一，简称苏菜。由于苏菜和浙菜相近，因此和浙菜统称江浙菜系。主要以金陵菜、淮扬菜、苏锡菜、徐海菜等地方菜组成。
                    <br><br>
                    <span class="social">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-instagram"></i>
                    </span>
                </p>
            </div>
            <div class="book__content">
                <h1>苏菜</h1>
                <p>江苏菜，中国传统八大菜系之一，简称苏菜。由于苏菜和浙菜相近，因此和浙菜统称江浙菜系。主要以金陵菜、淮扬菜、苏锡菜、徐海菜等地方菜组成。江苏菜起源于二千多年前，其中金陵菜起源于先秦时期，当时吴人善制炙鱼、蒸鱼和鱼片，一千多年前，鸭已为南京美食。南宋时，苏菜和浙菜同为“南食”的两大台柱。
                </p>
                <p>苏菜擅长炖、焖、蒸、炒，重视调汤，保持菜的原汁，风味清鲜，浓而不腻，淡而不薄，酥松脱骨而不失其形，滑嫩爽脆而不失其味。</p>
                <p>金陵菜口味和醇，玲珑细巧；徐州菜色调浓重，习尚五辛；扬州菜清淡适口，刀工精细；苏州菜口味趋甜，清雅多姿。其名菜有金陵烤鸭、彭城鱼丸、老鸭汤、炖生敲、烤方、羊方藏鱼、水晶肴蹄、清炖蟹粉狮子头、霸王别姬、黄泥煨鸡、清炖鸡孚、盐水鸭、金陵板鸭、鼋汁狗肉、金香饼、鸡汤煮干丝、肉酿生麸、红烧沙光鱼、凤尾虾、三套鸭、无锡肉骨头、陆稿荐酱猪头肉等。
                </p>
                <a
                    href="https://baike.baidu.com/item/%E6%B1%9F%E8%8B%8F%E8%8F%9C/757561?fromtitle=%E8%8B%8F%E8%8F%9C&fromid=1138373&fr=aladdin">来自于百度百科</a>
            </div>
        </div>
        <div class="book">
            <div class="book__cover">
                <div class="header-image" style="background-image: url(../static/img/caixi/浙菜.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="title-wrap">
                    <h1 class="article-title">浙菜</h1>
                </div>
                <p class="book__cover-exerpt">
                    浙江菜，简称浙菜，是中国传统八大菜系之一，其地山清水秀，物产丰富，故谚曰：“上有天堂，下有苏杭”。
                    <br><br>
                    <span class="social">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-instagram"></i>
                    </span>
                </p>
            </div>
            <div class="book__content">
                <h1>浙菜</h1>
                <p>浙江，东濒大海，有千里长的海岸线，盛产海味，如著名的舟山渔场的黄鱼、带鱼、石斑鱼、锦绣龙虾及蛎、蛤、虾、蟹，平原，河道港叉遍布，著名的太湖南临湖州，淡水鱼名贵品种，如鳜鱼、鲫鱼、青虾、湖蟹等以及四大家鱼产量极盛。又是大米与蚕桑的主要产地，素有“鱼米之乡”的称号。西南崇山峻岭，山珍野味历来有名，像庆元的香菇、云和的黑木耳。中部为浙江盆地——金衢盆地，即金华大粮仓，闻名中外的金华火腿就是选用全国瘦肉型名猪之一的“金华两头乌”制成的。加上举世闻名的杭州龙井茶叶、绍兴老酒，都是烹饪中不可缺少的上乘原料。
                </p>
                <p>浙菜富有江南特色，历史悠久，源远流长，是中国著名的地方菜种。浙菜起源于新石器时代的河姆渡文化，经越国先民的开拓积累，汉唐时期的成熟定型，宋元时期的繁荣和明清时期的发展，浙江菜的基本风格已经形成。</p>
                <p>浙江菜的形成有其历史的原因，同时也受资源特产的影响。浙江濒临东海，气候温和，水陆交通方便，其境内北半部地处我国“东南富庶”的长江三角洲平原，土地肥沃，河汉密布，盛产稻、麦、粟、豆、果蔬，水产资源十分丰富，四季时鲜源源上市；西南部丘陵起伏，盛产山珍野味，农舍鸡鸭成群，牛羊肥壮，无不为烹饪提供了殷实富足的原料。特产有：富春江鲥鱼，舟山黄鱼，金华火腿，杭州油乡豆腐皮，西湖莼菜，绍兴麻鸭、越鸡和酒，西湖龙井茶，舟山的梭子蟹，安吉竹鸡，黄岩蜜桔等。丰富的烹饪资源、众多的名优特产，与卓越的烹饪技艺相结合，使浙江菜出类拔萃地独成体系。
                </p>
                <a
                    href="https://baike.baidu.com/item/%E6%B5%99%E6%B1%9F%E8%8F%9C/762656?fromtitle=%E6%B5%99%E8%8F%9C&fromid=1246638&fr=aladdin">来自于百度百科</a>
            </div>
        </div>
        <div class="book">
            <div class="book__cover">
                <div class="header-image" style="background-image: url(../static/img/caixi/闽菜.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="title-wrap">
                    <h1 class="article-title">闽菜</h1>
                </div>
                <p class="book__cover-exerpt">
                    闽菜是中国八大菜系之一，历经中原汉族文化和闽越族文化的混合而形成。
                    <br><br>
                    <span class="social">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-instagram"></i>
                    </span>
                </p>
            </div>
            <div class="book__content">
                <h1>闽菜</h1>
                <p>闽菜是中国八大菜系之一，历经中原汉族文化和闽越族文化的混合而形成。</p>
                <p>闽菜发源于福州，以福州菜为基础，后又融合闽东、闽南、闽西、闽北、莆仙五地风味菜形成的菜系。</p>
                <p>狭义闽菜指以福州菜，最早起源于福建福州闽县，后来发展成福州、闽南、闽西三种流派,即广义闽菜。</p>
                <p>由于福建人民经常往来于海上，于是饮食习俗也逐渐形成带有开放特色的一种独特的菜系。闽菜以烹制山珍海味而著称，在色香味形俱佳的基础上，尤以“香”、“味”见长，其清鲜、和醇、荤香、不腻的风格特色，以及汤路广泛的特点，在烹坛园地中独具一席。
                </p>
                <p>福州菜淡爽清鲜，讲究汤提鲜，擅长各类山珍海味；闽南菜（厦门、漳州、泉州一带）讲究佐料调味，重鲜香；闽西菜（长汀、宁化一带）偏重咸辣，烹制多为山珍，特显山区风味。故此，闽菜形成三大特色，一长于红糟调味，二长于制汤，三长于使用糖醋。
                </p>
                <p>闽菜除招牌菜“佛跳墙”外，还有鸡汤氽海蚌、八宝红鲟饭、白炒鲜竹蛏、太极芋泥、淡糟香螺片、爆炒双脆、南煎肝、荔枝肉、醉排骨、荷包鱼翅、龙身凤尾虾、翡翠珍珠鲍、鸡茸金丝笋、肉米鱼唇、鼎边糊、福州鱼丸、肉燕、漳州卤面、莆田卤面、海蛎煎、沙县拌面、扁食、厦门沙茶面、面线糊、闽南咸饭、兴化米粉、红糟鱼、五柳居、白雪鸡、长汀豆腐干，等菜品和小吃，均别有风味。
                </p>
                <p>汤是闽菜之精髓，素有一汤十变之说。据昙石山文化遗址考证，闽人在5000多年前就有了吃海鲜和制作汤食的传统。福建一年四季如春，这样的气候适合做汤。
                </p>
                <a href="https://baike.baidu.com/item/%E9%97%BD%E8%8F%9C/829909?fr=aladdin">来自于百度百科</a>
            </div>
        </div>
        <div class="book">
            <div class="book__cover">
                <div class="header-image" style="background-image: url(../static/img/caixi/湘菜.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="title-wrap">
                    <h1 class="article-title">湘菜</h1>
                </div>
                <p class="book__cover-exerpt">
                    湘菜，又叫湖南菜，是中国历史悠久的汉族八大菜系之一 ，早在汉朝就已经形成菜系。以湘江流域、洞庭湖区和湘西山区三种地方风味为主。
                    <br><br>
                    <span class="social">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-instagram"></i>
                    </span>
                </p>
            </div>
            <div class="book__content">
                <h1>湘菜</h1>
                <p>湘菜，又叫湖南菜，是中国历史悠久的汉族八大菜系之一 ，早在汉朝就已经形成菜系。以湘江流域、洞庭湖区和湘西山区三种地方风味为主。</p>
                <p>湘菜制作精细，用料上比较广泛，口味多变，品种繁多；色泽上油重色浓，讲求实惠；品味上注重香辣、香鲜、软嫩；制法上以煨、炖、腊、蒸、炒诸法见称。</p>
                <p>官府湘菜代表菜品以组庵湘菜为代表，如组庵豆腐、组庵鱼翅等；民间湘菜代表菜品有辣椒炒肉、剁椒鱼头、湘西外婆菜、吉首酸肉、牛肉粉，衡阳鱼粉，栖凤渡鱼粉，东安鸡，金鱼戏莲、永州血鸭、九嶷山兔、宁远酿豆腐、腊味合蒸、姊妹团子
                    、宁乡口味蛇、岳阳姜辣蛇等。</p>
                <a href="https://baike.baidu.com/item/%E6%B9%98%E8%8F%9C/873783?fr=aladdin">来自于百度百科</a>
            </div>
        </div>
        <div class="book">
            <div class="book__cover">
                <div class="header-image" style="background-image: url(../static/img/caixi/徽菜.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="title-wrap">
                    <h1 class="article-title">徽菜</h1>
                </div>
                <p class="book__cover-exerpt">
                    徽菜即安徽菜，是以皖南菜为代表的皖南菜、皖江菜、合肥菜、淮南菜、皖北菜的总称。其中皖南风味以徽州地方菜肴为代表，它是徽菜的主流和渊源。
                    <br><br>
                    <span class="social">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-instagram"></i>
                    </span>
                </p>
            </div>
            <div class="book__content">
                <h1>徽菜</h1>
                <p>徽菜即安徽菜，是以皖南菜为代表的皖南菜、皖江菜、合肥菜、淮南菜、皖北菜的总称。其中皖南风味以徽州地方菜肴为代表，它是徽菜的主流和渊源。</p>
                <p>徽菜以安徽特产为主要原料，在采用民间传统烹调技法的基础上，吸收其它菜系技艺之长而烹制的以咸鲜味为主的地方菜肴。</p>
                <p>徽菜具有丰厚的文化底蕴，是全国著名的八大菜系之一。</p>
                <p>其主要风味特点为咸鲜为主，突出本味，讲究火功，注重食补。</p>
                <p>在烹调方法上以烧、炖、焖、蒸、熏等技艺为主。</p>
                <p>主要菜式有宴席大菜、五簋八碟十大碗、九碗六、八碗十二盘、六大盆、大众和菜等。主要名宴有八公山豆腐宴、包公宴、洪武宴等。</p>
                <p>徽菜起源于南宋时期的古徽州，原是徽州山区的地方风味，在漫长的岁月里，经过历代名厨的辛勤创造、兼收并蓄，特别是解放以后，省内名厨的交流切磋、继承发展，徽菜已逐渐从徽州地区的山乡风味脱颖而出，如今已集中了安徽各地的风味特邑、名馔佳肴，逐步形成了一个雅俗共赏、南北咸宜、独具一格、自成一体的著名莱系。
                    后来渐渐流传到江苏、浙江、福建、上海、湖北等地，甚至影响到大西北的古都西安，在中国菜系中独树一帜，与川菜、鲁菜、粤菜、苏菜、浙菜、闽菜、湘菜并列中国八大菜系。</p>
                <a href="https://baike.baidu.com/item/%E5%BE%BD%E8%8F%9C/1139026?fr=aladdin">来自于百度百科</a>
            </div>
        </div>
    </div>

    <!-- <script src="../static/js/jquery.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        "use strict";

        $('.book').on('click', function () {
            $(this).toggleClass('book--expanded');
        });
    </script>

    <!-- 小玩偶 -->
    <script src="../static/js/jquery.js"></script>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css\" />
    <script src="../static/js/autoload.js"></script>
</body>

</html>